<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Abadon</key>
	<array>
		<string>062</string>
		<integer>6</integer>
		<string>Abadon</string>
		<integer>6</integer>
		<integer>8</integer>
		<integer>4</integer>
		<integer>5</integer>
		<string>n/a</string>
	</array>
	<key>Abyss_Worm</key>
	<array>
		<string>033</string>
		<integer>3</integer>
		<string>Abyss_Worm</string>
		<integer>7</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>5</integer>
		<string>n/a</string>
	</array>
	<key>Adamantiose</key>
	<array>
		<string>043</string>
		<integer>4</integer>
		<string>Adamantiose</string>
		<integer>4</integer>
		<integer>5</integer>
		<integer>5</integer>
		<integer>6</integer>
		<string>n/a</string>
	</array>
	<key>Alexander</key>
	<array>
		<string>095</string>
		<integer>9</integer>
		<string>Alexander</string>
		<integer>9</integer>
		<integer>0</integer>
		<integer>4</integer>
		<integer>2</integer>
		<string>n/a</string>
	</array>
	<key>Anacondaur</key>
	<array>
		<string>018</string>
		<integer>2</integer>
		<string>Anacondaur</string>
		<integer>5</integer>
		<integer>1</integer>
		<integer>3</integer>
		<integer>5</integer>
		<string>n/a</string>
	</array>
	<key>Angelo</key>
	<array>
		<string>079</string>
		<integer>8</integer>
		<string>Angelo</string>
		<integer>9</integer>
		<integer>6</integer>
		<integer>7</integer>
		<integer>3</integer>
		<string>n/a</string>
	</array>
	<key>Armadodo</key>
	<array>
		<string>024</string>
		<integer>3</integer>
		<string>Armadodo</string>
		<integer>6</integer>
		<integer>3</integer>
		<integer>1</integer>
		<integer>6</integer>
		<string>n/a</string>
	</array>
	<key>BGH251F2</key>
	<array>
		<string>074</string>
		<integer>7</integer>
		<string>BGH251F2</string>
		<integer>5</integer>
		<integer>7</integer>
		<integer>8</integer>
		<integer>5</integer>
		<string>n/a</string>
	</array>
	<key>Bahumut</key>
	<array>
		<string>097</string>
		<integer>9</integer>
		<string>Bahumut</string>
		<integer>0</integer>
		<integer>8</integer>
		<integer>2</integer>
		<integer>6</integer>
		<string>n/a</string>
	</array>
	<key>Behemoth</key>
	<array>
		<string>046</string>
		<integer>5</integer>
		<string>Behemoth</string>
		<integer>3</integer>
		<integer>6</integer>
		<integer>5</integer>
		<integer>7</integer>
		<string>n/a</string>
	</array>
	<key>Belhelmel</key>
	<array>
		<string>016</string>
		<integer>2</integer>
		<string>Belhelmel</string>
		<integer>3</integer>
		<integer>4</integer>
		<integer>5</integer>
		<integer>3</integer>
		<string>n/a</string>
	</array>
	<key>Bite_Bug</key>
	<array>
		<string>003</string>
		<integer>1</integer>
		<string>Bite_Bug</string>
		<integer>1</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>5</integer>
		<string>n/a</string>
	</array>
	<key>Blitz</key>
	<array>
		<string>038</string>
		<integer>4</integer>
		<string>Blitz</string>
		<integer>1</integer>
		<integer>6</integer>
		<integer>4</integer>
		<integer>7</integer>
		<string>n/a</string>
	</array>
	<key>Blobra</key>
	<array>
		<string>005</string>
		<integer>1</integer>
		<string>Blobra</string>
		<integer>2</integer>
		<integer>3</integer>
		<integer>1</integer>
		<integer>5</integer>
		<string>n/a</string>
	</array>
	<key>Blood_Soul</key>
	<array>
		<string>009</string>
		<integer>1</integer>
		<string>Blood_Soul</string>
		<integer>2</integer>
		<integer>1</integer>
		<integer>6</integer>
		<integer>1</integer>
		<string>n/a</string>
	</array>
	<key>Blue_Dragon</key>
	<array>
		<string>042</string>
		<integer>4</integer>
		<string>Blue_Dragon</string>
		<integer>6</integer>
		<integer>2</integer>
		<integer>7</integer>
		<integer>3</integer>
		<string>n/a</string>
	</array>
	<key>Bomb</key>
	<array>
		<string>037</string>
		<integer>4</integer>
		<string>Bomb</string>
		<integer>2</integer>
		<integer>7</integer>
		<integer>6</integer>
		<integer>3</integer>
		<string>n/a</string>
	</array>
	<key>Buel</key>
	<array>
		<string>013</string>
		<integer>2</integer>
		<string>Buel</string>
		<integer>6</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>3</integer>
		<string>n/a</string>
	</array>
	<key>Cactaur</key>
	<array>
		<string>031</string>
		<integer>3</integer>
		<string>Cactaur</string>
		<integer>6</integer>
		<integer>2</integer>
		<integer>6</integer>
		<integer>3</integer>
		<string>n/a</string>
	</array>
	<key>Carbuncle</key>
	<array>
		<string>089</string>
		<integer>9</integer>
		<string>Carbuncle</string>
		<integer>8</integer>
		<integer>4</integer>
		<integer>0</integer>
		<integer>4</integer>
		<string>n/a</string>
	</array>
	<key>Caterchipillar</key>
	<array>
		<string>010</string>
		<integer>1</integer>
		<string>Caterchipillar</string>
		<integer>4</integer>
		<integer>2</integer>
		<integer>4</integer>
		<integer>3</integer>
		<string>n/a</string>
	</array>
	<key>Catoblepas</key>
	<array>
		<string>076</string>
		<integer>7</integer>
		<string>Catoblepas</string>
		<integer>1</integer>
		<integer>8</integer>
		<integer>7</integer>
		<integer>7</integer>
		<string>n/a</string>
	</array>
	<key>Cerberus</key>
	<array>
		<string>094</string>
		<integer>9</integer>
		<string>Cerberus</string>
		<integer>7</integer>
		<integer>4</integer>
		<integer>6</integer>
		<integer>0</integer>
		<string>n/a</string>
	</array>
	<key>Chicobo</key>
	<array>
		<string>082</string>
		<integer>8</integer>
		<string>Chicobo</string>
		<integer>9</integer>
		<integer>4</integer>
		<integer>8</integer>
		<integer>4</integer>
		<string>n/a</string>
	</array>
	<key>Chimera</key>
	<array>
		<string>047</string>
		<integer>5</integer>
		<string>Chimera</string>
		<integer>7</integer>
		<integer>6</integer>
		<integer>5</integer>
		<integer>3</integer>
		<string>n/a</string>
	</array>
	<key>ChubbyChocobo</key>
	<array>
		<string>078</string>
		<integer>8</integer>
		<string>ChubbyChocobo</string>
		<integer>4</integer>
		<integer>4</integer>
		<integer>8</integer>
		<integer>9</integer>
		<string>n/a</string>
	</array>
	<key>Cockatrice</key>
	<array>
		<string>011</string>
		<integer>1</integer>
		<string>Cockatrice</string>
		<integer>6</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>6</integer>
		<string>n/a</string>
	</array>
	<key>Creeps</key>
	<array>
		<string>019</string>
		<integer>2</integer>
		<string>Creeps</string>
		<integer>5</integer>
		<integer>2</integer>
		<integer>5</integer>
		<integer>2</integer>
		<string>n/a</string>
	</array>
	<key>Death_Claw</key>
	<array>
		<string>030</string>
		<integer>3</integer>
		<string>Death_Claw</string>
		<integer>4</integer>
		<integer>4</integer>
		<integer>7</integer>
		<integer>2</integer>
		<string>n/a</string>
	</array>
	<key>Diablos</key>
	<array>
		<string>090</string>
		<integer>9</integer>
		<string>Diablos</string>
		<integer>5</integer>
		<integer>0</integer>
		<integer>8</integer>
		<integer>3</integer>
		<string>n/a</string>
	</array>
	<key>Doomtrain</key>
	<array>
		<string>098</string>
		<integer>9</integer>
		<string>Doomtrain</string>
		<integer>3</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<string>n/a</string>
	</array>
	<key>Edea</key>
	<array>
		<string>108</string>
		<integer>10</integer>
		<string>Edea</string>
		<integer>0</integer>
		<integer>0</integer>
		<integer>3</integer>
		<integer>3</integer>
		<string>n/a</string>
	</array>
	<key>Eden</key>
	<array>
		<string>099</string>
		<integer>9</integer>
		<string>Eden</string>
		<integer>4</integer>
		<integer>4</integer>
		<integer>9</integer>
		<integer>0</integer>
		<string>n/a</string>
	</array>
	<key>Elastiod</key>
	<array>
		<string>049</string>
		<integer>5</integer>
		<string>Elastiod</string>
		<integer>6</integer>
		<integer>2</integer>
		<integer>6</integer>
		<integer>7</integer>
		<string>n/a</string>
	</array>
	<key>Elnoyle</key>
	<array>
		<string>053</string>
		<integer>5</integer>
		<string>Elnoyle</string>
		<integer>5</integer>
		<integer>3</integer>
		<integer>7</integer>
		<integer>6</integer>
		<string>n/a</string>
	</array>
	<key>Elvoret</key>
	<array>
		<string>057</string>
		<integer>6</integer>
		<string>Elvoret</string>
		<integer>7</integer>
		<integer>8</integer>
		<integer>3</integer>
		<integer>4</integer>
		<string>n/a</string>
	</array>
	<key>Fastitcalon</key>
	<array>
		<string>026</string>
		<integer>3</integer>
		<string>Fastitcalon</string>
		<integer>7</integer>
		<integer>5</integer>
		<integer>1</integer>
		<integer>3</integer>
		<string>n/a</string>
	</array>
	<key>Fastitocalon-F</key>
	<array>
		<string>008</string>
		<integer>1</integer>
		<string>Fastitocalon-F</string>
		<integer>3</integer>
		<integer>5</integer>
		<integer>2</integer>
		<integer>1</integer>
		<string>n/a</string>
	</array>
	<key>Forbidden</key>
	<array>
		<string>023</string>
		<integer>3</integer>
		<string>Forbidden</string>
		<integer>6</integer>
		<integer>6</integer>
		<integer>3</integer>
		<integer>2</integer>
		<string>n/a</string>
	</array>
	<key>Fujin,Raijin</key>
	<array>
		<string>056</string>
		<integer>6</integer>
		<string>Fujin,Raijin</string>
		<integer>2</integer>
		<integer>8</integer>
		<integer>8</integer>
		<integer>4</integer>
		<string>n/a</string>
	</array>
	<key>Fungar</key>
	<array>
		<string>002</string>
		<integer>1</integer>
		<string>Fungar</string>
		<integer>5</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>3</integer>
		<string>n/a</string>
	</array>
	<key>GIM47N</key>
	<array>
		<string>050</string>
		<integer>5</integer>
		<string>GIM47N</string>
		<integer>5</integer>
		<integer>5</integer>
		<integer>7</integer>
		<integer>4</integer>
		<string>n/a</string>
	</array>
	<key>Gargantua</key>
	<array>
		<string>070</string>
		<integer>7</integer>
		<string>Gargantua</string>
		<integer>5</integer>
		<integer>6</integer>
		<integer>6</integer>
		<integer>8</integer>
		<string>n/a</string>
	</array>
	<key>Gayla</key>
	<array>
		<string>006</string>
		<integer>1</integer>
		<string>Gayla</string>
		<integer>2</integer>
		<integer>1</integer>
		<integer>4</integer>
		<integer>4</integer>
		<string>n/a</string>
	</array>
	<key>Geezard</key>
	<array>
		<string>001</string>
		<integer>1</integer>
		<string>Geezard</string>
		<integer>1</integer>
		<integer>4</integer>
		<integer>5</integer>
		<integer>1</integer>
		<string>n/a</string>
	</array>
	<key>Gerogero</key>
	<array>
		<string>060</string>
		<integer>6</integer>
		<string>Gerogero</string>
		<integer>1</integer>
		<integer>8</integer>
		<integer>8</integer>
		<integer>3</integer>
		<string>n/a</string>
	</array>
	<key>Gesper</key>
	<array>
		<string>007</string>
		<integer>1</integer>
		<string>Gesper</string>
		<integer>1</integer>
		<integer>5</integer>
		<integer>4</integer>
		<integer>1</integer>
		<string>n/a</string>
	</array>
	<key>Gilgamesh</key>
	<array>
		<string>080</string>
		<integer>8</integer>
		<string>Gilgamesh</string>
		<integer>3</integer>
		<integer>7</integer>
		<integer>9</integer>
		<integer>6</integer>
		<string>n/a</string>
	</array>
	<key>Glacial_Eye</key>
	<array>
		<string>015</string>
		<integer>2</integer>
		<string>Glacial_Eye</string>
		<integer>6</integer>
		<integer>1</integer>
		<integer>4</integer>
		<integer>3</integer>
		<string>n/a</string>
	</array>
	<key>Grand_Mantis</key>
	<array>
		<string>022</string>
		<integer>2</integer>
		<string>Grand_Mantis</string>
		<integer>5</integer>
		<integer>2</integer>
		<integer>5</integer>
		<integer>3</integer>
		<string>n/a</string>
	</array>
	<key>Grat</key>
	<array>
		<string>012</string>
		<integer>2</integer>
		<string>Grat</string>
		<integer>7</integer>
		<integer>1</integer>
		<integer>3</integer>
		<integer>1</integer>
		<string>n/a</string>
	</array>
	<key>Grenaldo</key>
	<array>
		<string>059</string>
		<integer>6</integer>
		<string>Grenaldo</string>
		<integer>7</integer>
		<integer>2</integer>
		<integer>8</integer>
		<integer>5</integer>
		<string>n/a</string>
	</array>
	<key>Grendel</key>
	<array>
		<string>020</string>
		<integer>2</integer>
		<string>Grendel</string>
		<integer>4</integer>
		<integer>4</integer>
		<integer>5</integer>
		<integer>2</integer>
		<string>n/a</string>
	</array>
	<key>Hexadragon</key>
	<array>
		<string>044</string>
		<integer>4</integer>
		<string>Hexadragon</string>
		<integer>7</integer>
		<integer>5</integer>
		<integer>4</integer>
		<integer>3</integer>
		<string>n/a</string>
	</array>
	<key>Ifrit</key>
	<array>
		<string>085</string>
		<integer>8</integer>
		<string>Ifrit</string>
		<integer>9</integer>
		<integer>6</integer>
		<integer>2</integer>
		<integer>8</integer>
		<string>n/a</string>
	</array>
	<key>Iguion</key>
	<array>
		<string>061</string>
		<integer>6</integer>
		<string>Iguion</string>
		<integer>8</integer>
		<integer>2</integer>
		<integer>8</integer>
		<integer>2</integer>
		<string>n/a</string>
	</array>
	<key>Imp</key>
	<array>
		<string>041</string>
		<integer>4</integer>
		<string>Imp</string>
		<integer>3</integer>
		<integer>7</integer>
		<integer>3</integer>
		<integer>6</integer>
		<string>n/a</string>
	</array>
	<key>Iron_Giant</key>
	<array>
		<string>045</string>
		<integer>5</integer>
		<string>Iron_Giant</string>
		<integer>6</integer>
		<integer>5</integer>
		<integer>6</integer>
		<integer>5</integer>
		<string>n/a</string>
	</array>
	<key>Irvine</key>
	<array>
		<string>105</string>
		<integer>10</integer>
		<string>Irvine</string>
		<integer>2</integer>
		<integer>6</integer>
		<integer>9</integer>
		<integer>0</integer>
		<string>n/a</string>
	</array>
	<key>Jelleye</key>
	<array>
		<string>021</string>
		<integer>2</integer>
		<string>Jelleye</string>
		<integer>3</integer>
		<integer>2</integer>
		<integer>1</integer>
		<integer>7</integer>
		<string>n/a</string>
	</array>
	<key>JumboCactaur</key>
	<array>
		<string>068</string>
		<integer>7</integer>
		<string>JumboCactaur</string>
		<integer>8</integer>
		<integer>8</integer>
		<integer>4</integer>
		<integer>4</integer>
		<string>n/a</string>
	</array>
	<key>Kiros</key>
	<array>
		<string>101</string>
		<integer>10</integer>
		<string>Kiros</string>
		<integer>6</integer>
		<integer>7</integer>
		<integer>6</integer>
		<integer>0</integer>
		<string>n/a</string>
	</array>
	<key>Krysta</key>
	<array>
		<string>066</string>
		<integer>6</integer>
		<string>Krysta</string>
		<integer>7</integer>
		<integer>5</integer>
		<integer>8</integer>
		<integer>1</integer>
		<string>n/a</string>
	</array>
	<key>Laguna</key>
	<array>
		<string>102</string>
		<integer>10</integer>
		<string>Laguna</string>
		<integer>5</integer>
		<integer>0</integer>
		<integer>3</integer>
		<integer>9</integer>
		<string>n/a</string>
	</array>
	<key>Leviathan</key>
	<array>
		<string>091</string>
		<integer>9</integer>
		<string>Leviathan</string>
		<integer>7</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>7</integer>
		<string>n/a</string>
	</array>
	<key>Malboro</key>
	<array>
		<string>051</string>
		<integer>5</integer>
		<string>Malboro</string>
		<integer>7</integer>
		<integer>7</integer>
		<integer>4</integer>
		<integer>2</integer>
		<string>n/a</string>
	</array>
	<key>Mesmerize</key>
	<array>
		<string>014</string>
		<integer>2</integer>
		<string>Mesmerize</string>
		<integer>5</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>4</integer>
		<string>n/a</string>
	</array>
	<key>MinMog</key>
	<array>
		<string>081</string>
		<integer>8</integer>
		<string>MinMog</string>
		<integer>9</integer>
		<integer>3</integer>
		<integer>9</integer>
		<integer>2</integer>
		<string>n/a</string>
	</array>
	<key>Minotaur</key>
	<array>
		<string>088</string>
		<integer>8</integer>
		<string>Minotaur</string>
		<integer>9</integer>
		<integer>9</integer>
		<integer>2</integer>
		<integer>5</integer>
		<string>n/a</string>
	</array>
	<key>MobileType_8</key>
	<array>
		<string>071</string>
		<integer>7</integer>
		<string>MobileType_8</string>
		<integer>8</integer>
		<integer>6</integer>
		<integer>7</integer>
		<integer>3</integer>
		<string>n/a</string>
	</array>
	<key>Ochu</key>
	<array>
		<string>028</string>
		<integer>3</integer>
		<string>Ochu</string>
		<integer>5</integer>
		<integer>6</integer>
		<integer>3</integer>
		<integer>3</integer>
		<string>n/a</string>
	</array>
	<key>Odin</key>
	<array>
		<string>092</string>
		<integer>9</integer>
		<string>Odin</string>
		<integer>8</integer>
		<integer>0</integer>
		<integer>3</integer>
		<integer>5</integer>
		<string>n/a</string>
	</array>
	<key>Oilboyle</key>
	<array>
		<string>064</string>
		<integer>6</integer>
		<string>Oilboyle</string>
		<integer>1</integer>
		<integer>8</integer>
		<integer>4</integer>
		<integer>8</integer>
		<string>n/a</string>
	</array>
	<key>Pandemona</key>
	<array>
		<string>093</string>
		<integer>9</integer>
		<string>Pandemona</string>
		<integer>0</integer>
		<integer>1</integer>
		<integer>7</integer>
		<integer>7</integer>
		<string>n/a</string>
	</array>
	<key>Phoenix</key>
	<array>
		<string>096</string>
		<integer>9</integer>
		<string>Phoenix</string>
		<integer>7</integer>
		<integer>2</integer>
		<integer>7</integer>
		<integer>0</integer>
		<string>n/a</string>
	</array>
	<key>Propagator</key>
	<array>
		<string>067</string>
		<integer>7</integer>
		<string>Propagator</string>
		<integer>8</integer>
		<integer>4</integer>
		<integer>4</integer>
		<integer>8</integer>
		<string>n/a</string>
	</array>
	<key>PuPu</key>
	<array>
		<string>048</string>
		<integer>5</integer>
		<string>PuPu</string>
		<integer>3</integer>
		<integer>0</integer>
		<integer>2</integer>
		<integer>1</integer>
		<string>n/a</string>
	</array>
	<key>Quezacotl</key>
	<array>
		<string>083</string>
		<integer>8</integer>
		<string>Quezacotl</string>
		<integer>2</integer>
		<integer>9</integer>
		<integer>9</integer>
		<integer>4</integer>
		<string>n/a</string>
	</array>
	<key>Quistis</key>
	<array>
		<string>104</string>
		<integer>10</integer>
		<string>Quistis</string>
		<integer>9</integer>
		<integer>6</integer>
		<integer>0</integer>
		<integer>2</integer>
		<string>n/a</string>
	</array>
	<key>RedGiant</key>
	<array>
		<string>075</string>
		<integer>7</integer>
		<string>RedGiant</string>
		<integer>6</integer>
		<integer>8</integer>
		<integer>4</integer>
		<integer>7</integer>
		<string>n/a</string>
	</array>
	<key>Red_Bat</key>
	<array>
		<string>004</string>
		<integer>1</integer>
		<string>Red_Bat</string>
		<integer>6</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>2</integer>
		<string>n/a</string>
	</array>
	<key>Rinoa</key>
	<array>
		<string>107</string>
		<integer>10</integer>
		<string>Rinoa</string>
		<integer>4</integer>
		<integer>0</integer>
		<integer>2</integer>
		<integer>0</integer>
		<string>n/a</string>
	</array>
	<key>RubyDragon</key>
	<array>
		<string>052</string>
		<integer>5</integer>
		<string>RubyDragon</string>
		<integer>7</integer>
		<integer>2</integer>
		<integer>7</integer>
		<integer>4</integer>
		<string>n/a</string>
	</array>
	<key>SAM08G</key>
	<array>
		<string>029</string>
		<integer>3</integer>
		<string>SAM08G</string>
		<integer>5</integer>
		<integer>6</integer>
		<integer>2</integer>
		<integer>4</integer>
		<string>n/a</string>
	</array>
	<key>Sacred</key>
	<array>
		<string>087</string>
		<integer>8</integer>
		<string>Sacred</string>
		<integer>5</integer>
		<integer>1</integer>
		<integer>9</integer>
		<integer>9</integer>
		<string>n/a</string>
	</array>
	<key>Seifer</key>
	<array>
		<string>109</string>
		<integer>10</integer>
		<string>Seifer</string>
		<integer>6</integer>
		<integer>9</integer>
		<integer>0</integer>
		<integer>4</integer>
		<string>n/a</string>
	</array>
	<key>Selphie</key>
	<array>
		<string>103</string>
		<integer>10</integer>
		<string>Selphie</string>
		<integer>0</integer>
		<integer>8</integer>
		<integer>4</integer>
		<integer>6</integer>
		<string>n/a</string>
	</array>
	<key>Shiva</key>
	<array>
		<string>084</string>
		<integer>8</integer>
		<string>Shiva</string>
		<integer>6</integer>
		<integer>7</integer>
		<integer>4</integer>
		<integer>9</integer>
		<string>n/a</string>
	</array>
	<key>ShumiTribe</key>
	<array>
		<string>065</string>
		<integer>6</integer>
		<string>ShumiTribe</string>
		<integer>6</integer>
		<integer>5</integer>
		<integer>8</integer>
		<integer>4</integer>
		<string>n/a</string>
	</array>
	<key>Siren</key>
	<array>
		<string>086</string>
		<integer>8</integer>
		<string>Siren</string>
		<integer>9</integer>
		<integer>6</integer>
		<integer>2</integer>
		<integer>8</integer>
		<string>n/a</string>
	</array>
	<key>Snow_Lion</key>
	<array>
		<string>027</string>
		<integer>3</integer>
		<string>Snow_Lion</string>
		<integer>7</integer>
		<integer>1</integer>
		<integer>5</integer>
		<integer>3</integer>
		<string>n/a</string>
	</array>
	<key>Sphinxara</key>
	<array>
		<string>072</string>
		<integer>7</integer>
		<string>Sphinxara</string>
		<integer>8</integer>
		<integer>3</integer>
		<integer>5</integer>
		<integer>8</integer>
		<string>n/a</string>
	</array>
	<key>Squall</key>
	<array>
		<string>110</string>
		<integer>10</integer>
		<string>Squall</string>
		<integer>0</integer>
		<integer>0</integer>
		<integer>9</integer>
		<integer>6</integer>
		<string>n/a</string>
	</array>
	<key>T-Rexaur</key>
	<array>
		<string>036</string>
		<integer>4</integer>
		<string>T-Rexaur</string>
		<integer>4</integer>
		<integer>6</integer>
		<integer>2</integer>
		<integer>7</integer>
		<string>n/a</string>
	</array>
	<key>Thrustaevis</key>
	<array>
		<string>017</string>
		<integer>2</integer>
		<string>Thrustaevis</string>
		<integer>5</integer>
		<integer>3</integer>
		<integer>2</integer>
		<integer>5</integer>
		<string>n/a</string>
	</array>
	<key>Tiamat</key>
	<array>
		<string>073</string>
		<integer>7</integer>
		<string>Tiamat</string>
		<integer>8</integer>
		<integer>8</integer>
		<integer>5</integer>
		<integer>4</integer>
		<string>n/a</string>
	</array>
	<key>Tonberry</key>
	<array>
		<string>032</string>
		<integer>3</integer>
		<string>Tonberry</string>
		<integer>3</integer>
		<integer>6</integer>
		<integer>4</integer>
		<integer>4</integer>
		<string>n/a</string>
	</array>
	<key>TonberryKing</key>
	<array>
		<string>054</string>
		<integer>5</integer>
		<string>TonberryKing</string>
		<integer>4</integer>
		<integer>6</integer>
		<integer>7</integer>
		<integer>4</integer>
		<string>n/a</string>
	</array>
	<key>Torama</key>
	<array>
		<string>040</string>
		<integer>4</integer>
		<string>Torama</string>
		<integer>7</integer>
		<integer>4</integer>
		<integer>4</integer>
		<integer>4</integer>
		<string>n/a</string>
	</array>
	<key>Trauma</key>
	<array>
		<string>063</string>
		<integer>6</integer>
		<string>Trauma</string>
		<integer>4</integer>
		<integer>8</integer>
		<integer>5</integer>
		<integer>6</integer>
		<string>n/a</string>
	</array>
	<key>Tri-Point</key>
	<array>
		<string>069</string>
		<integer>7</integer>
		<string>Tri-Point</string>
		<integer>8</integer>
		<integer>5</integer>
		<integer>2</integer>
		<integer>8</integer>
		<string>n/a</string>
	</array>
	<key>TriFace</key>
	<array>
		<string>025</string>
		<integer>3</integer>
		<string>TriFace</string>
		<integer>3</integer>
		<integer>5</integer>
		<integer>5</integer>
		<integer>5</integer>
		<string>n/a</string>
	</array>
	<key>Turtapod</key>
	<array>
		<string>034</string>
		<integer>4</integer>
		<string>Turtapod</string>
		<integer>2</integer>
		<integer>3</integer>
		<integer>6</integer>
		<integer>7</integer>
		<string>n/a</string>
	</array>
	<key>UltimaWeapon</key>
	<array>
		<string>077</string>
		<integer>7</integer>
		<string>UltimaWeapon</string>
		<integer>7</integer>
		<integer>7</integer>
		<integer>2</integer>
		<integer>8</integer>
		<string>n/a</string>
	</array>
	<key>Vysage</key>
	<array>
		<string>035</string>
		<integer>4</integer>
		<string>Vysage</string>
		<integer>6</integer>
		<integer>5</integer>
		<integer>4</integer>
		<integer>5</integer>
		<string>n/a</string>
	</array>
	<key>Ward</key>
	<array>
		<string>100</string>
		<integer>10</integer>
		<string>Ward</string>
		<integer>0</integer>
		<integer>7</integer>
		<integer>2</integer>
		<integer>8</integer>
		<string>n/a</string>
	</array>
	<key>Wedge,Biggs</key>
	<array>
		<string>055</string>
		<integer>5</integer>
		<string>Wedge,Biggs</string>
		<integer>6</integer>
		<integer>6</integer>
		<integer>2</integer>
		<integer>7</integer>
		<string>n/a</string>
	</array>
	<key>Wendigo</key>
	<array>
		<string>039</string>
		<integer>4</integer>
		<string>Wendigo</string>
		<integer>7</integer>
		<integer>3</integer>
		<integer>1</integer>
		<integer>6</integer>
		<string>n/a</string>
	</array>
	<key>X-ATM092</key>
	<array>
		<string>058</string>
		<integer>6</integer>
		<string>X-ATM092</string>
		<integer>4</integer>
		<integer>8</integer>
		<integer>4</integer>
		<integer>3</integer>
		<string>n/a</string>
	</array>
	<key>Zell</key>
	<array>
		<string>106</string>
		<integer>10</integer>
		<string>Zell</string>
		<integer>8</integer>
		<integer>5</integer>
		<integer>0</integer>
		<integer>6</integer>
		<string>n/a</string>
	</array>
</dict>
</plist>
