<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>001</string>
		<integer>1</integer>
		<string>Geezard</string>
		<integer>1</integer>
		<integer>4</integer>
		<integer>5</integer>
		<integer>1</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>002</string>
		<integer>1</integer>
		<string>Fungar</string>
		<integer>5</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>3</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>003</string>
		<integer>1</integer>
		<string>Bite_Bug</string>
		<integer>1</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>5</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>004</string>
		<integer>1</integer>
		<string>Red_Bat</string>
		<integer>6</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>2</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>005</string>
		<integer>1</integer>
		<string>Blobra</string>
		<integer>2</integer>
		<integer>3</integer>
		<integer>1</integer>
		<integer>5</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>006</string>
		<integer>1</integer>
		<string>Gayla</string>
		<integer>2</integer>
		<integer>1</integer>
		<integer>4</integer>
		<integer>4</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>007</string>
		<integer>1</integer>
		<string>Gesper</string>
		<integer>1</integer>
		<integer>5</integer>
		<integer>4</integer>
		<integer>1</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>008</string>
		<integer>1</integer>
		<string>Fastitocalon-F</string>
		<integer>3</integer>
		<integer>5</integer>
		<integer>2</integer>
		<integer>1</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>009</string>
		<integer>1</integer>
		<string>Blood_Soul</string>
		<integer>2</integer>
		<integer>1</integer>
		<integer>6</integer>
		<integer>1</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>010</string>
		<integer>1</integer>
		<string>Caterchipillar</string>
		<integer>4</integer>
		<integer>2</integer>
		<integer>4</integer>
		<integer>3</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>011</string>
		<integer>1</integer>
		<string>Cockatrice</string>
		<integer>6</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>6</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>012</string>
		<integer>2</integer>
		<string>Grat</string>
		<integer>7</integer>
		<integer>1</integer>
		<integer>3</integer>
		<integer>1</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>013</string>
		<integer>2</integer>
		<string>Buel</string>
		<integer>6</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>3</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>014</string>
		<integer>2</integer>
		<string>Mesmerize</string>
		<integer>5</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>4</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>015</string>
		<integer>2</integer>
		<string>Glacial_Eye</string>
		<integer>6</integer>
		<integer>1</integer>
		<integer>4</integer>
		<integer>3</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>016</string>
		<integer>2</integer>
		<string>Belhelmel</string>
		<integer>3</integer>
		<integer>4</integer>
		<integer>5</integer>
		<integer>3</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>017</string>
		<integer>2</integer>
		<string>Thrustaevis</string>
		<integer>5</integer>
		<integer>3</integer>
		<integer>2</integer>
		<integer>5</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>018</string>
		<integer>2</integer>
		<string>Anacondaur</string>
		<integer>5</integer>
		<integer>1</integer>
		<integer>3</integer>
		<integer>5</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>019</string>
		<integer>2</integer>
		<string>Creeps</string>
		<integer>5</integer>
		<integer>2</integer>
		<integer>5</integer>
		<integer>2</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>020</string>
		<integer>2</integer>
		<string>Grendel</string>
		<integer>4</integer>
		<integer>4</integer>
		<integer>5</integer>
		<integer>2</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>021</string>
		<integer>2</integer>
		<string>Jelleye</string>
		<integer>3</integer>
		<integer>2</integer>
		<integer>1</integer>
		<integer>7</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>022</string>
		<integer>2</integer>
		<string>Grand_Mantis</string>
		<integer>5</integer>
		<integer>2</integer>
		<integer>5</integer>
		<integer>3</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>023</string>
		<integer>3</integer>
		<string>Forbidden</string>
		<integer>6</integer>
		<integer>6</integer>
		<integer>3</integer>
		<integer>2</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>024</string>
		<integer>3</integer>
		<string>Armadodo</string>
		<integer>6</integer>
		<integer>3</integer>
		<integer>1</integer>
		<integer>6</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>025</string>
		<integer>3</integer>
		<string>TriFace</string>
		<integer>3</integer>
		<integer>5</integer>
		<integer>5</integer>
		<integer>5</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>026</string>
		<integer>3</integer>
		<string>Fastitcalon</string>
		<integer>7</integer>
		<integer>5</integer>
		<integer>1</integer>
		<integer>3</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>027</string>
		<integer>3</integer>
		<string>Snow_Lion</string>
		<integer>7</integer>
		<integer>1</integer>
		<integer>5</integer>
		<integer>3</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>028</string>
		<integer>3</integer>
		<string>Ochu</string>
		<integer>5</integer>
		<integer>6</integer>
		<integer>3</integer>
		<integer>3</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>029</string>
		<integer>3</integer>
		<string>SAM08G</string>
		<integer>5</integer>
		<integer>6</integer>
		<integer>2</integer>
		<integer>4</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>030</string>
		<integer>3</integer>
		<string>Death_Claw</string>
		<integer>4</integer>
		<integer>4</integer>
		<integer>7</integer>
		<integer>2</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>031</string>
		<integer>3</integer>
		<string>Cactaur</string>
		<integer>6</integer>
		<integer>2</integer>
		<integer>6</integer>
		<integer>3</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>032</string>
		<integer>3</integer>
		<string>Tonberry</string>
		<integer>3</integer>
		<integer>6</integer>
		<integer>4</integer>
		<integer>4</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>033</string>
		<integer>3</integer>
		<string>Abyss_Worm</string>
		<integer>7</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>5</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>034</string>
		<integer>4</integer>
		<string>Turtapod</string>
		<integer>2</integer>
		<integer>3</integer>
		<integer>6</integer>
		<integer>7</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>035</string>
		<integer>4</integer>
		<string>Vysage</string>
		<integer>6</integer>
		<integer>5</integer>
		<integer>4</integer>
		<integer>5</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>036</string>
		<integer>4</integer>
		<string>T-Rexaur</string>
		<integer>4</integer>
		<integer>6</integer>
		<integer>2</integer>
		<integer>7</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>037</string>
		<integer>4</integer>
		<string>Bomb</string>
		<integer>2</integer>
		<integer>7</integer>
		<integer>6</integer>
		<integer>3</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>038</string>
		<integer>4</integer>
		<string>Blitz</string>
		<integer>1</integer>
		<integer>6</integer>
		<integer>4</integer>
		<integer>7</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>039</string>
		<integer>4</integer>
		<string>Wendigo</string>
		<integer>7</integer>
		<integer>3</integer>
		<integer>1</integer>
		<integer>6</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>040</string>
		<integer>4</integer>
		<string>Torama</string>
		<integer>7</integer>
		<integer>4</integer>
		<integer>4</integer>
		<integer>4</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>041</string>
		<integer>4</integer>
		<string>Imp</string>
		<integer>3</integer>
		<integer>7</integer>
		<integer>3</integer>
		<integer>6</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>042</string>
		<integer>4</integer>
		<string>Blue_Dragon</string>
		<integer>6</integer>
		<integer>2</integer>
		<integer>7</integer>
		<integer>3</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>043</string>
		<integer>4</integer>
		<string>Adamantiose</string>
		<integer>4</integer>
		<integer>5</integer>
		<integer>5</integer>
		<integer>6</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>044</string>
		<integer>4</integer>
		<string>Hexadragon</string>
		<integer>7</integer>
		<integer>5</integer>
		<integer>4</integer>
		<integer>3</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>045</string>
		<integer>5</integer>
		<string>Iron_Giant</string>
		<integer>6</integer>
		<integer>5</integer>
		<integer>6</integer>
		<integer>5</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>046</string>
		<integer>5</integer>
		<string>Behemoth</string>
		<integer>3</integer>
		<integer>6</integer>
		<integer>5</integer>
		<integer>7</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>047</string>
		<integer>5</integer>
		<string>Chimera</string>
		<integer>7</integer>
		<integer>6</integer>
		<integer>5</integer>
		<integer>3</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>048</string>
		<integer>5</integer>
		<string>PuPu</string>
		<integer>3</integer>
		<integer>0</integer>
		<integer>2</integer>
		<integer>1</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>049</string>
		<integer>5</integer>
		<string>Elastiod</string>
		<integer>6</integer>
		<integer>2</integer>
		<integer>6</integer>
		<integer>7</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>050</string>
		<integer>5</integer>
		<string>GIM47N</string>
		<integer>5</integer>
		<integer>5</integer>
		<integer>7</integer>
		<integer>4</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>051</string>
		<integer>5</integer>
		<string>Malboro</string>
		<integer>7</integer>
		<integer>7</integer>
		<integer>4</integer>
		<integer>2</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>052</string>
		<integer>5</integer>
		<string>RubyDragon</string>
		<integer>7</integer>
		<integer>2</integer>
		<integer>7</integer>
		<integer>4</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>053</string>
		<integer>5</integer>
		<string>Elnoyle</string>
		<integer>5</integer>
		<integer>3</integer>
		<integer>7</integer>
		<integer>6</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>054</string>
		<integer>5</integer>
		<string>TonberryKing</string>
		<integer>4</integer>
		<integer>6</integer>
		<integer>7</integer>
		<integer>4</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>055</string>
		<integer>5</integer>
		<string>Wedge,Biggs</string>
		<integer>6</integer>
		<integer>6</integer>
		<integer>2</integer>
		<integer>7</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>056</string>
		<integer>6</integer>
		<string>Fujin,Raijin</string>
		<integer>2</integer>
		<integer>8</integer>
		<integer>8</integer>
		<integer>4</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>057</string>
		<integer>6</integer>
		<string>Elvoret</string>
		<integer>7</integer>
		<integer>8</integer>
		<integer>3</integer>
		<integer>4</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>058</string>
		<integer>6</integer>
		<string>X-ATM092</string>
		<integer>4</integer>
		<integer>8</integer>
		<integer>4</integer>
		<integer>3</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>059</string>
		<integer>6</integer>
		<string>Grenaldo</string>
		<integer>7</integer>
		<integer>2</integer>
		<integer>8</integer>
		<integer>5</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>060</string>
		<integer>6</integer>
		<string>Gerogero</string>
		<integer>1</integer>
		<integer>8</integer>
		<integer>8</integer>
		<integer>3</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>061</string>
		<integer>6</integer>
		<string>Iguion</string>
		<integer>8</integer>
		<integer>2</integer>
		<integer>8</integer>
		<integer>2</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>062</string>
		<integer>6</integer>
		<string>Abadon</string>
		<integer>6</integer>
		<integer>8</integer>
		<integer>4</integer>
		<integer>5</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>063</string>
		<integer>6</integer>
		<string>Trauma</string>
		<integer>4</integer>
		<integer>8</integer>
		<integer>5</integer>
		<integer>6</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>064</string>
		<integer>6</integer>
		<string>Oilboyle</string>
		<integer>1</integer>
		<integer>8</integer>
		<integer>4</integer>
		<integer>8</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>065</string>
		<integer>6</integer>
		<string>ShumiTribe</string>
		<integer>6</integer>
		<integer>5</integer>
		<integer>8</integer>
		<integer>4</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>066</string>
		<integer>6</integer>
		<string>Krysta</string>
		<integer>7</integer>
		<integer>5</integer>
		<integer>8</integer>
		<integer>1</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>067</string>
		<integer>7</integer>
		<string>Propagator</string>
		<integer>8</integer>
		<integer>4</integer>
		<integer>4</integer>
		<integer>8</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>068</string>
		<integer>7</integer>
		<string>JumboCactaur</string>
		<integer>8</integer>
		<integer>8</integer>
		<integer>4</integer>
		<integer>4</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>069</string>
		<integer>7</integer>
		<string>Tri-Point</string>
		<integer>8</integer>
		<integer>5</integer>
		<integer>2</integer>
		<integer>8</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>070</string>
		<integer>7</integer>
		<string>Gargantua</string>
		<integer>5</integer>
		<integer>6</integer>
		<integer>6</integer>
		<integer>8</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>071</string>
		<integer>7</integer>
		<string>MobileType_8</string>
		<integer>8</integer>
		<integer>6</integer>
		<integer>7</integer>
		<integer>3</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>072</string>
		<integer>7</integer>
		<string>Sphinxara</string>
		<integer>8</integer>
		<integer>3</integer>
		<integer>5</integer>
		<integer>8</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>073</string>
		<integer>7</integer>
		<string>Tiamat</string>
		<integer>8</integer>
		<integer>8</integer>
		<integer>5</integer>
		<integer>4</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>074</string>
		<integer>7</integer>
		<string>BGH251F2</string>
		<integer>5</integer>
		<integer>7</integer>
		<integer>8</integer>
		<integer>5</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>075</string>
		<integer>7</integer>
		<string>RedGiant</string>
		<integer>6</integer>
		<integer>8</integer>
		<integer>4</integer>
		<integer>7</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>076</string>
		<integer>7</integer>
		<string>Catoblepas</string>
		<integer>1</integer>
		<integer>8</integer>
		<integer>7</integer>
		<integer>7</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>077</string>
		<integer>7</integer>
		<string>UltimaWeapon</string>
		<integer>7</integer>
		<integer>7</integer>
		<integer>2</integer>
		<integer>8</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>078</string>
		<integer>8</integer>
		<string>ChubbyChocobo</string>
		<integer>4</integer>
		<integer>4</integer>
		<integer>8</integer>
		<integer>9</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>079</string>
		<integer>8</integer>
		<string>Angelo</string>
		<integer>9</integer>
		<integer>6</integer>
		<integer>7</integer>
		<integer>3</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>080</string>
		<integer>8</integer>
		<string>Gilgamesh</string>
		<integer>3</integer>
		<integer>7</integer>
		<integer>9</integer>
		<integer>6</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>081</string>
		<integer>8</integer>
		<string>MinMog</string>
		<integer>9</integer>
		<integer>3</integer>
		<integer>9</integer>
		<integer>2</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>082</string>
		<integer>8</integer>
		<string>Chicobo</string>
		<integer>9</integer>
		<integer>4</integer>
		<integer>8</integer>
		<integer>4</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>083</string>
		<integer>8</integer>
		<string>Quezacotl</string>
		<integer>2</integer>
		<integer>9</integer>
		<integer>9</integer>
		<integer>4</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>084</string>
		<integer>8</integer>
		<string>Shiva</string>
		<integer>6</integer>
		<integer>7</integer>
		<integer>4</integer>
		<integer>9</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>085</string>
		<integer>8</integer>
		<string>Ifrit</string>
		<integer>9</integer>
		<integer>6</integer>
		<integer>2</integer>
		<integer>8</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>086</string>
		<integer>8</integer>
		<string>Siren</string>
		<integer>9</integer>
		<integer>6</integer>
		<integer>2</integer>
		<integer>8</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>087</string>
		<integer>8</integer>
		<string>Sacred</string>
		<integer>5</integer>
		<integer>1</integer>
		<integer>9</integer>
		<integer>9</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>088</string>
		<integer>8</integer>
		<string>Minotaur</string>
		<integer>9</integer>
		<integer>9</integer>
		<integer>2</integer>
		<integer>5</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>089</string>
		<integer>9</integer>
		<string>Carbuncle</string>
		<integer>8</integer>
		<integer>4</integer>
		<integer>0</integer>
		<integer>4</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>090</string>
		<integer>9</integer>
		<string>Diablos</string>
		<integer>5</integer>
		<integer>0</integer>
		<integer>8</integer>
		<integer>3</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>091</string>
		<integer>9</integer>
		<string>Leviathan</string>
		<integer>7</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>7</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>092</string>
		<integer>9</integer>
		<string>Odin</string>
		<integer>8</integer>
		<integer>0</integer>
		<integer>3</integer>
		<integer>5</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>093</string>
		<integer>9</integer>
		<string>Pandemona</string>
		<integer>0</integer>
		<integer>1</integer>
		<integer>7</integer>
		<integer>7</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>094</string>
		<integer>9</integer>
		<string>Cerberus</string>
		<integer>7</integer>
		<integer>4</integer>
		<integer>6</integer>
		<integer>0</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>095</string>
		<integer>9</integer>
		<string>Alexander</string>
		<integer>9</integer>
		<integer>0</integer>
		<integer>4</integer>
		<integer>2</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>096</string>
		<integer>9</integer>
		<string>Phoenix</string>
		<integer>7</integer>
		<integer>2</integer>
		<integer>7</integer>
		<integer>0</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>097</string>
		<integer>9</integer>
		<string>Bahumut</string>
		<integer>0</integer>
		<integer>8</integer>
		<integer>2</integer>
		<integer>6</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>098</string>
		<integer>9</integer>
		<string>Doomtrain</string>
		<integer>3</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>099</string>
		<integer>9</integer>
		<string>Eden</string>
		<integer>4</integer>
		<integer>4</integer>
		<integer>9</integer>
		<integer>0</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>100</string>
		<integer>10</integer>
		<string>Ward</string>
		<integer>0</integer>
		<integer>7</integer>
		<integer>2</integer>
		<integer>8</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>101</string>
		<integer>10</integer>
		<string>Kiros</string>
		<integer>6</integer>
		<integer>7</integer>
		<integer>6</integer>
		<integer>0</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>102</string>
		<integer>10</integer>
		<string>Laguna</string>
		<integer>5</integer>
		<integer>0</integer>
		<integer>3</integer>
		<integer>9</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>103</string>
		<integer>10</integer>
		<string>Selphie</string>
		<integer>0</integer>
		<integer>8</integer>
		<integer>4</integer>
		<integer>6</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>104</string>
		<integer>10</integer>
		<string>Quistis</string>
		<integer>9</integer>
		<integer>6</integer>
		<integer>0</integer>
		<integer>2</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>105</string>
		<integer>10</integer>
		<string>Irvine</string>
		<integer>2</integer>
		<integer>6</integer>
		<integer>9</integer>
		<integer>0</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>106</string>
		<integer>10</integer>
		<string>Zell</string>
		<integer>8</integer>
		<integer>5</integer>
		<integer>0</integer>
		<integer>6</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>107</string>
		<integer>10</integer>
		<string>Rinoa</string>
		<integer>4</integer>
		<integer>0</integer>
		<integer>2</integer>
		<integer>0</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>108</string>
		<integer>10</integer>
		<string>Edea</string>
		<integer>0</integer>
		<integer>0</integer>
		<integer>3</integer>
		<integer>3</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>109</string>
		<integer>10</integer>
		<string>Seifer</string>
		<integer>6</integer>
		<integer>9</integer>
		<integer>0</integer>
		<integer>4</integer>
		<string>n/a</string>
	</array>
	<array>
		<string>110</string>
		<integer>10</integer>
		<string>Squall</string>
		<integer>0</integer>
		<integer>0</integer>
		<integer>9</integer>
		<integer>6</integer>
		<string>n/a</string>
	</array>
</array>
</plist>
